@charset "UTF-8";
:root {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
	padding: 0;
	margin: 0;
	border: none;
}

body,
html {
	height: 100%;
}

body {
	line-height: 1;
}

*::before,
*::after {
	display: inline-block;
}

a {
	text-decoration: none;
	color: inherit;
	display: inline-block;
}

img {
	max-width: 100%;
	vertical-align: middle;
}

li {
	list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	font-weight: inherit;
}

button {
	background-color: transparent;
	cursor: pointer;
}

a,
button {
	-webkit-tap-highlight-color: transparent;
}

cite {
	font-style: normal;
}

@font-face {
	font-family: Nunito;
	font-display: swap;
	src: url('../fonts/Nunito-Bold.woff2') format('woff2'), url('../fonts/Nunito-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: Nunito;
	font-display: swap;
	src: url('../fonts/Nunito-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Nunito;
	font-display: swap;
	src: url('../fonts/Nunito-SemiBold.woff2') format('woff2');
	font-weight: 600;
	font-style: normal;
}
:root {
	--container-width: 79.375rem;
	--container-padding-x: 0.9375rem;
	--font-family-base: Nunito, sans-serif;
	--text-muted: rgba(16, 16, 16, 0.6);
	--text-inverse: #fff;
	--text-default: #2c3e50;
	--color-default: #e3f2fd;
	--text-hover: #bbdefb;
	--text-active: #64b5f6;
	--main-block-color: #e3f2fd;
	--main-block-color--lighter: #f5fbff;
	--transition: all 0.2s linear;
}

.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: clip;
}
.wrapper main {
	flex-grow: 1;
}

[class*='__container'] {
	max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
	width: 100%;
	padding-inline: var(--container-padding-x);
	margin-inline: auto;
}

.visually-hidden {
	position: absolute !important;
	width: 1px !important;
	height: 1px !important;
	margin: -1px !important;
	border: 0 !important;
	padding: 0 !important;
	white-space: nowrap !important;
	clip-path: inset(100%) !important;
	clip: rect(0 0 0 0) !important;
	overflow: hidden !important;
}

body {
	font-family: var(--font-family-base);
	font-weight: 400;
}
body._lock {
	overflow: hidden;
	touch-action: none;
}

.page {
	padding-block-start: clamp(6.0625rem, 5.4732142857rem + 2.9464285714vw, 8.125rem);
}
/* Blocks */
.about-us {
	margin-block-end: clamp(2.8125rem, 2.2767857143rem + 2.6785714286vw, 4.6875rem);
}
.about-us__container p {
	font-size: clamp(1rem, 0.8214285714rem + 0.8928571429vw, 1.625rem);
	line-height: 1.2;
}
.about-us__container p:not(:last-child) {
	margin-bottom: 1rem;
}

.articles {
	margin-block-end: clamp(1.875rem, 1.0714285714rem + 4.0178571429vw, 4.6875rem);
}
.articles__text-block:not(:last-child) {
	margin-block-end: clamp(1.5625rem, 1.2946428571rem + 1.3392857143vw, 2.5rem);
}
.articles__title {
	font-size: clamp(1.75rem, 1.4642857143rem + 1.4285714286vw, 2.75rem);
}
.articles__text p {
	font-size: clamp(1.125rem, 1.0535714286rem + 0.3571428571vw, 1.375rem);
}
.articles__list {
	display: flex;
	flex-direction: column;
	row-gap: clamp(0.9375rem, 0.7589285714rem + 0.8928571429vw, 1.5625rem);
}
.article {
	background-color: var(--main-block-color--lighter);
	border-radius: 1.5625rem;
	padding: clamp(0.75rem, 0.6071428571rem + 0.7142857143vw, 1.25rem);
}
.article__title {
	font-size: clamp(1.5rem, 1.2857142857rem + 1.0714285714vw, 2.25rem);
}
.article__title:not(:last-child) {
	margin-bottom: clamp(0.75rem, 0.6071428571rem + 0.7142857143vw, 1.25rem);
}
.article__text p {
	font-size: clamp(1.125rem, 1.0178571429rem + 0.5357142857vw, 1.5rem);
}
.article__text:not(:last-child) {
	margin-bottom: clamp(0.25rem, 0.1785714286rem + 0.3571428571vw, 0.5rem);
}
.article__link {
	color: var(--text-default);
	transition: var(--transition);
}
@media ((hover: hover) and (pointer: fine)) {
	.article__link:hover {
		color: var(--text-active);
	}
}
.article__link:active {
	color: var(--text-active);
}

.cards__container {
	padding-block: clamp(4.625rem, 4.1607142857rem + 2.3214285714vw, 6.25rem)
		clamp(4.625rem, 3.3571428571rem + 6.3392857143vw, 9.0625rem);
}
.cards__list-cards {
	display: flex;
	gap: clamp(1.25rem, -0.3571428571rem + 8.0357142857vw, 6.875rem);
}
@media (width <= 61.99875rem) {
	.cards__list-cards {
		flex-wrap: wrap;
	}
}
.cards__card {
	flex: 0 1 calc(33.333% - clamp(1.25rem, -0.3571428571rem + 8.0357142857vw, 6.875rem) / 2);
}
@media (width <= 61.99875rem) {
	.cards__card {
		flex: 0 1 calc(50% - clamp(1.25rem, -0.3571428571rem + 8.0357142857vw, 6.875rem) / 2);
	}
	.cards__card:nth-child(odd):last-child {
		flex: 1 1 100%;
	}
}
@media (width <= 47.99875rem) {
	.cards__card {
		flex: 1 1 100%;
	}
}

.card {
	padding-block: 3.4375rem 4.6875rem;
	box-shadow: 0 0.625rem 1.875rem rgb(221, 236, 247);
	border-radius: 3.125rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 1.875rem;
}
.card__image {
	width: 6.4375rem;
	aspect-ratio: 1;
	border-radius: 50%;
}
.card__image img {
	width: 100%;
	object-fit: cover;
}
.card__title {
	color: var(--text-default);
	font-size: 2.125rem;
	font-weight: 600;
}
.card__text {
	color: var(--text-default);
	font-size: 1rem;
	font-weight: 600;
}

.main-title {
	color: var(--text-default);
	font-weight: 700;
	font-size: clamp(2.5rem, 1.6764705882rem + 4.1176470588vw, 6rem);
}

.link {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	height: 4.0625rem;
	width: 25rem;
	color: var(--text-default);
	font-size: clamp(1.375rem, 1.3392857143rem + 0.1785714286vw, 1.5rem);
	font-weight: 600;
	border-radius: 3.125rem;
	background: var(--main-block-color);
	transition: var(--transition);
}
@media ((hover: hover) and (pointer: fine)) {
	.link:hover {
		background-color: var(--text-hover);
	}
}
.link:active {
	background-color: var(--text-hover);
}
.link--transparent {
	background-color: transparent;
	border: 4px solid var(--main-block-color);
}
@media ((hover: hover) and (pointer: fine)) {
	.link--transparent:hover {
		background-color: var(--text-hover);
		border-color: var(--text-hover);
	}
}
.link--transparent:active {
	background-color: var(--text-hover);
	border-color: var(--text-hover);
}

.title-exercise {
	font-size: clamp(1.5rem, 1.2857142857rem + 1.0714285714vw, 2.25rem);
	color: var(--text-default);
}

.breathing {
	margin-block-end: clamp(2.8125rem, 2.2767857143rem + 2.6785714286vw, 4.6875rem);
}
.breathing__article {
	border-radius: 1.875rem;
	padding: 2.5rem;
	text-align: center;
	box-shadow: 0 0.625rem 1.875rem rgb(221, 236, 247);
}
.breathing__title:not(:last-child) {
	margin-block-end: clamp(3.515625rem, 3.1808035714rem + 1.6741071429vw, 4.6875rem);
}
.breathing__body {
	position: relative;
	width: clamp(9.375rem, 8.4821428571rem + 4.4642857143vw, 12.5rem);
	aspect-ratio: 1;
	margin: 0 auto 20px auto;
	display: flex;
	justify-content: center;
	align-items: center;
}
.breathing__circle {
	width: 100%;
	height: 100%;
	background-color: var(--main-block-color);
	border-radius: 50%;
	position: absolute;
	animation: breathe 12s infinite ease-in-out;
	z-index: -2;
}
.breathing__label {
	position: relative;
	z-index: -1;
	font-size: 1.5rem;
	font-weight: bold;
	color: var(--text-default);
}
.breathing__text:not(:first-child) {
	margin-block-start: clamp(3.515625rem, 3.1808035714rem + 1.6741071429vw, 4.6875rem);
}

@keyframes breathe {
	0% {
		transform: scale(1);
		opacity: 0.8;
	}
	40% {
		transform: scale(1.5);
		opacity: 1;
	}
	60% {
		transform: scale(1.5);
		opacity: 1;
	}
	100% {
		transform: scale(1);
		opacity: 0.8;
	}
}
.exercises {
	margin-block-end: clamp(2.8125rem, 2.2767857143rem + 2.6785714286vw, 4.6875rem);
}
.exercises__body {
	display: flex;
	gap: 1.875rem;
	flex-wrap: wrap;
}
.exercises__exercise {
	flex: 0 0 calc(50% - 1.875rem / 2);
}
@media (width <= 47.99875rem) {
	.exercises__exercise {
		flex: 1 1 100%;
	}
}

.exercise {
	box-shadow: 0 0.625rem 1.875rem rgb(221, 236, 247);
	padding: clamp(2.125rem, 1.9821428571rem + 0.7142857143vw, 2.625rem);
	border-radius: 1.875rem;
}
.exercise__title {
	font-size: 1.875rem;
}
.exercise__title:not(:last-child) {
	margin-block-end: clamp(0.75rem, 0.6071428571rem + 0.7142857143vw, 1.25rem);
}
.exercise__text-block p {
	line-height: 1.2;
}
.exercise__text-block p:not(:last-child) {
	margin-block-end: 0.9375rem;
}
.exercise__list:not(:last-child) {
	margin-block-end: 0.9475rem;
}
.exercise__item {
	list-style: disc;
	line-height: 1.2;
}
.exercise__item:not(:last-child) {
	margin-block-end: 0.625rem;
}

.footer {
	background-color: var(--main-block-color);
}
.footer__container {
	display: flex;
	height: clamp(3.125rem, 2.6785714286rem + 2.2321428571vw, 4.6875rem);
	align-items: center;
	justify-content: center;
}
.footer__text {
	font-size: clamp(0.875rem, 0.7279411765rem + 0.7352941176vw, 1.5rem);
	color: var(--text-default);
}

.header {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	background-color: var(--main-block-color);
}
.header__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: clamp(6.0625rem, 5.4732142857rem + 2.9464285714vw, 8.125rem);
}
.header__logo {
	color: var(--text-default);
	font-weight: 700;
	line-height: 1;
	font-size: clamp(1.875rem, 1.8455882353rem + 0.1470588235vw, 2rem);
}
.nav__list {
	display: flex;
	column-gap: 2.875rem;
}
.nav__link {
	color: var(--text-default);
	font-size: 1.125rem;
	font-weight: 400;
	line-height: normal;
	transition: var(--transition);
}
@media ((hover: hover) and (pointer: fine)) {
	.nav__link:hover {
		color: var(--text-active);
	}
}
.nav__link:active {
	color: var(--text-active);
}

.mobile-nav {
	display: none;
	flex-direction: column;
	row-gap: 0.625rem;
	transition: var(--transition);
}
.mobile-nav span {
	display: inline-block;
	width: 3.125rem;
	height: 0.1875rem;
	background-color: #000;
	transition: var(--transition);
}
.mobile-nav._active span:first-child {
	transform: translateY(13px) rotate(45deg);
}
.mobile-nav._active span:nth-child(2) {
	width: 0;
}
.mobile-nav._active span:last-child {
	transform: translateY(-13px) rotate(-45deg);
}

@media (width <= 47.99875rem) {
	.mobile-nav {
		display: flex;
	}
	.nav {
		padding-block-start: 1.5rem;
		position: fixed;
		top: clamp(6.0625rem, 5.4732142857rem + 2.9464285714vw, 8.125rem);
		left: -100%;
		width: 100%;
		bottom: 0;
		height: auto;
		background-color: var(--main-block-color);
		z-index: 100;
		transition: var(--transition);
	}
	.nav._active {
		display: block;
		left: 0;
		overflow-y: auto;
	}
	.nav__list {
		flex-direction: column;
		align-items: center;
		justify-content: center;
		row-gap: 0.9375rem;
	}
	.nav__link {
		font-size: 2.125rem;
	}
}
.hero__container {
	padding-block: clamp(2.0625rem, 1.0089285714rem + 5.2678571429vw, 5.75rem);
	display: flex;
	flex-direction: column;
	row-gap: clamp(2.125rem, 1.7142857143rem + 2.0535714286vw, 3.5625rem);
	align-items: center;
}
.hero__title-block {
	max-width: 58.5625rem;
}
.hero__links {
	display: flex;
	gap: clamp(1.125rem, 0.375rem + 3.75vw, 3.75rem);
}
@media (width <= 61.99875rem) {
	.hero__links {
		width: 100%;
	}
}
@media (width <= 47.99875rem) {
	.hero__links {
		flex-direction: column;
	}
}
@media (width <= 61.99875rem) {
	.hero__link {
		width: 50%;
	}
}
@media (width <= 47.99875rem) {
	.hero__link {
		width: 100%;
	}
}

.statistic__container {
	padding-block: 5rem;
}
.statistic__title {
	font-size: clamp(1.75rem, 1.6071428571rem + 0.7142857143vw, 2.25rem);
	margin-bottom: clamp(1.125rem, 0.8392857143rem + 1.4285714286vw, 2.125rem);
}
.statistic__title:last-child {
	margin-bottom: 0;
}
.statistic__body {
	display: flex;
	gap: clamp(2.0625rem, 1.8482142857rem + 1.0714285714vw, 2.8125rem)
		clamp(2.0625rem, 1.0446428571rem + 5.0892857143vw, 5.625rem);
	flex-wrap: wrap;
}
.statistic__article {
	flex: 0 0 calc(50% - clamp(2.0625rem, 1.0446428571rem + 5.0892857143vw, 5.625rem) / 2);
}
@media (width <= 61.99875rem) {
	.statistic__article {
		flex: 1 1 100%;
	}
}

.article-statistic {
	display: flex;
	flex-direction: column;
	row-gap: 0.9375rem;
}
.article-statistic__image {
	width: 100%;
	height: clamp(7.8125rem, 5.5803571429rem + 11.1607142857vw, 15.625rem);
}
.article-statistic__image img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}
.article-statistic__text-block {
	padding: clamp(0.3125rem, 0.1339285714rem + 0.8928571429vw, 0.9375rem);
}
.article-statistic__title {
	font-size: clamp(1.375rem, 1.3392857143rem + 0.1785714286vw, 1.5rem);
}
.article-statistic__title:not(:last-child) {
	margin-block-end: clamp(0.3125rem, 0.1339285714rem + 0.8928571429vw, 0.9375rem);
}
.article-statistic__text p {
	font-size: clamp(1rem, 0.9285714286rem + 0.3571428571vw, 1.25rem);
	line-height: 1.2;
}

.text-form__container {
	display: flex;
	flex-direction: column;
	row-gap: clamp(1rem, 0.8571428571rem + 0.7142857143vw, 1.5rem);
}
.text-form__text-block p {
	font-size: clamp(1.125rem, 0.9464285714rem + 0.8928571429vw, 1.75rem);
}
.text-form__link {
	align-self: center;
}
@media (width <= 29.99875rem) {
	.text-form__link {
		width: 100%;
	}
}
